/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: CenturyGothic;
  src: url(../font/CenturyGothic.ttf);
}
/* line 65, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 73, ../sass/screen.scss */
html, body {
  position: relative;
  background: #eef2e7;
  overflow-x: hidden !important;
}

/* line 79, ../sass/screen.scss */
section {
  margin-bottom: 70px;
}

/* line 84, ../sass/screen.scss */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: #eef2e7;
  z-index: 20;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  box-shadow: 0px 2px 30px #666666;
  -moz-box-shadow: 0px 2px 30px #666666;
  -webkit-box-sizing: 0px 2px 30px #666666;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
/* line 103, ../sass/screen.scss */
.navbar #navbar > ul {
  list-style-type: none;
  margin: 0;
  float: right;
}
/* line 112, ../sass/screen.scss */
.navbar #navbar > ul > li {
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  display: inline;
  color: #505050;
  margin: 0 5px;
}
/* line 120, ../sass/screen.scss */
.navbar #navbar > ul > li:hover {
  color: #000000;
}
/* line 124, ../sass/screen.scss */
.navbar #navbar > ul > li > a {
  margin: 0;
  text-decoration: none;
  color: #AAA;
  padding-right: 10px !important;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
/* line 131, ../sass/screen.scss */
.navbar #navbar > ul > li > a:hover {
  color: #333;
}
/* line 138, ../sass/screen.scss */
.navbar #logo {
  float: left;
  margin-left: -10px;
  margin-top: -21px;
  width: 120px;
  height: 120px;
}
@media screen and (max-width: 768px) {
  /* line 138, ../sass/screen.scss */
  .navbar #logo {
    display: none;
  }
}
/* line 149, ../sass/screen.scss */
.navbar #toggle {
  margin-top: 5px;
}
/* line 153, ../sass/screen.scss */
.navbar #ibeauty {
  display: none;
  font-family: "Lato";
  font-weight: 700;
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  /* line 153, ../sass/screen.scss */
  .navbar #ibeauty {
    display: inherit;
  }
}

/* line 169, ../sass/screen.scss */
#homepage a {
  color: #AAA;
}
/* line 172, ../sass/screen.scss */
#homepage a:hover {
  color: #000;
}
/* line 177, ../sass/screen.scss */
#homepage #homepage-background {
  z-index: -1;
  overflow: hidden;
}
/* line 182, ../sass/screen.scss */
#homepage .homepage-info {
  top: 20vh;
  width: 80%;
  margin-left: 10%;
  position: absolute;
}
/* line 188, ../sass/screen.scss */
#homepage .homepage-info .title {
  font-size: 18px;
  padding-top: 25px;
}
/* line 193, ../sass/screen.scss */
#homepage .homepage-info .col-sm-offset-7 {
  margin-left: calc(100% - 320px);
}
@media screen and (max-width: 768px) {
  /* line 198, ../sass/screen.scss */
  #homepage .homepage-info .col-sm-offset-7 {
    margin-left: calc((100% - 320px) / 2);
  }
}
@media screen and (max-width: 320px) {
  /* line 204, ../sass/screen.scss */
  #homepage .homepage-info .col-sm-offset-7 {
    margin-left: 0px;
  }
}
/* line 209, ../sass/screen.scss */
#homepage .homepage-info .content {
  font-size: 14px;
  width: 80%;
  margin-left: 10%;
  font-weight: 100;
  text-align: left;
  line-height: 160%;
  padding-bottom: 25px;
}
/* line 218, ../sass/screen.scss */
#homepage .homepage-info .content strong {
  font-weight: 700 !important;
}
/* line 224, ../sass/screen.scss */
#homepage .homepage-buttons {
  top: 60vh;
  text-align: right;
  right: 40px;
  width: 520px;
}
/* line 231, ../sass/screen.scss */
#homepage .homepage-button {
  font-family: "Lato";
  font-weight: bold;
  font-size: 20px;
  font-color: #CCCCCC;
  width: 320px;
  background: #eef2e7;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 10px;
  height: 70px;
}
@media screen and (max-width: 768px) {
  /* line 231, ../sass/screen.scss */
  #homepage .homepage-button {
    width: inherit;
    max-width: 320px;
  }
}
/* line 250, ../sass/screen.scss */
#homepage .homepage-button .fa {
  font-size: 25px;
}
/* line 254, ../sass/screen.scss */
#homepage .homepage-button > div {
  padding-top: 22px;
}
/* line 258, ../sass/screen.scss */
#homepage #homepage-intro {
  border-radius: 20px 20px 0 0;
  height: 100%;
}
/* line 263, ../sass/screen.scss */
#homepage #homepage-web {
  border-radius: 0 0 20px 20px;
}

/* line 271, ../sass/screen.scss */
#about {
  font-family: "Lato";
}
/* line 275, ../sass/screen.scss */
#about .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 279, ../sass/screen.scss */
#about .content {
  line-height: 190%;
}
/* line 283, ../sass/screen.scss */
#about .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 283, ../sass/screen.scss */
  #about .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 291, ../sass/screen.scss */
#advisor {
  font-family: "Lato";
}
/* line 294, ../sass/screen.scss */
#advisor .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 298, ../sass/screen.scss */
#advisor .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 303, ../sass/screen.scss */
#advisor .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 309, ../sass/screen.scss */
#advisor .description {
  margin-bottom: 80px;
  font-weight: 100;
}
/* line 312, ../sass/screen.scss */
#advisor .description strong {
  font-weight: 600;
}
/* line 318, ../sass/screen.scss */
#advisor .avatar .row {
  text-align: center;
  margin-top: 15px;
}
/* line 321, ../sass/screen.scss */
#advisor .avatar .row .avatar-img {
  width: 59% !important;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 330, ../sass/screen.scss */
#advisor .form {
  width: 100%;
}
/* line 333, ../sass/screen.scss */
#advisor .form .avatar .avatar-img {
  width: 100%;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 340, ../sass/screen.scss */
#advisor .form .contact .instruction {
  font-weight: 100;
  margin-bottom: 32px;
}
/* line 345, ../sass/screen.scss */
#advisor .form .contact .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 349, ../sass/screen.scss */
#advisor .form .contact .form-group .form-control {
  border: 1px solid #bdc3c7;
}
/* line 351, ../sass/screen.scss */
#advisor .form .contact .form-group .form-control:focus {
  border: 1px solid #1ABC9C;
}
/* line 359, ../sass/screen.scss */
#advisor .intro {
  margin-top: 80px;
  font-weight: 900;
  line-height: 150%;
}
/* line 365, ../sass/screen.scss */
#advisor .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 365, ../sass/screen.scss */
  #advisor .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 374, ../sass/screen.scss */
#app {
  font-family: "Lato";
}
/* line 377, ../sass/screen.scss */
#app .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 381, ../sass/screen.scss */
#app .intro {
  margin-top: 80px;
  margin-bottom: 60px;
  font-weight: 900;
  line-height: 150%;
}
/* line 388, ../sass/screen.scss */
#app .download {
  margin-top: 10px;
}
/* line 391, ../sass/screen.scss */
#app .download .download-pic {
  height: 67px;
}
/* line 395, ../sass/screen.scss */
#app .download #qr-code {
  float: right;
}
@media screen and (max-width: 768px) {
  /* line 400, ../sass/screen.scss */
  #app .download .download-pic {
    height: auto;
    width: 200px;
    margin-top: 5px;
  }
  /* line 406, ../sass/screen.scss */
  #app .download .pic {
    text-align: center;
  }
  /* line 410, ../sass/screen.scss */
  #app .download #qr-code {
    float: inherit;
  }
}
/* line 420, ../sass/screen.scss */
#app .demo-whole .demo-text .col-sm-4 {
  width: 26.6666666%;
  margin-left: 3.333333333%;
  margin-right: 3.333333333%;
}
/* line 427, ../sass/screen.scss */
#app .demo-whole .demo-title {
  font-size: 27px;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
/* line 436, ../sass/screen.scss */
#app .demo-whole .demo-content {
  text-align: center;
  font-weight: 200;
  line-height: 150%;
}
/* line 442, ../sass/screen.scss */
#app .demo-whole #sprite {
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 418, ../sass/screen.scss */
  #app .demo-whole {
    display: none;
  }
}
/* line 454, ../sass/screen.scss */
#app .demo-split .demo-text .col-sm-4 {
  width: 26.6666666%;
  margin-left: 3.333333333%;
  margin-right: 3.333333333%;
}
/* line 461, ../sass/screen.scss */
#app .demo-split .demo-title {
  font-size: 27px;
  font-weight: 700;
  margin-top: -80px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
/* line 470, ../sass/screen.scss */
#app .demo-split .demo-content {
  text-align: center;
  font-weight: 200;
  line-height: 150%;
  margin-bottom: 60px;
}
/* line 477, ../sass/screen.scss */
#app .demo-split #sprite-1, #app .demo-split #sprite-2, #app .demo-split #sprite-3 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 452, ../sass/screen.scss */
  #app .demo-split {
    display: none;
  }
}
/* line 486, ../sass/screen.scss */
#app .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 486, ../sass/screen.scss */
  #app .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 493, ../sass/screen.scss */
#partner {
  font-family: "Lato";
}
/* line 496, ../sass/screen.scss */
#partner .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 500, ../sass/screen.scss */
#partner .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 505, ../sass/screen.scss */
#partner .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 511, ../sass/screen.scss */
#partner .description {
  margin-bottom: 80px;
  font-weight: 100;
}
/* line 514, ../sass/screen.scss */
#partner .description strong {
  font-weight: 600;
}
/* line 519, ../sass/screen.scss */
#partner .form {
  width: 100%;
}
/* line 522, ../sass/screen.scss */
#partner .form .avatar .avatar-img {
  width: 100%;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 529, ../sass/screen.scss */
#partner .form .contact .instruction {
  font-weight: 100;
  margin-bottom: 32px;
}
/* line 534, ../sass/screen.scss */
#partner .form .contact .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 538, ../sass/screen.scss */
#partner .form .contact .form-group .form-control {
  border: 1px solid #bdc3c7;
}
/* line 540, ../sass/screen.scss */
#partner .form .contact .form-group .form-control:focus {
  border: 1px solid #1ABC9C;
}
/* line 548, ../sass/screen.scss */
#partner .intro {
  margin-top: 80px;
  font-weight: 900;
  line-height: 150%;
}
/* line 554, ../sass/screen.scss */
#partner .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 554, ../sass/screen.scss */
  #partner .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 561, ../sass/screen.scss */
#tips {
  font-family: "Lato";
}
/* line 564, ../sass/screen.scss */
#tips .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 568, ../sass/screen.scss */
#tips .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 573, ../sass/screen.scss */
#tips .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 579, ../sass/screen.scss */
#tips .description {
  margin-bottom: 80px;
  font-weight: 100;
}
/* line 582, ../sass/screen.scss */
#tips .description strong {
  font-weight: 600;
}
/* line 587, ../sass/screen.scss */
#tips .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 587, ../sass/screen.scss */
  #tips .container {
    width: 80%;
    margin-left: 10%;
  }
}
/* line 591, ../sass/screen.scss */
#tips .article {
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
  background: #FFF;
  border-radius: 20px;
  height: 600px;
  padding-right: 15px;
}
/* line 600, ../sass/screen.scss */
#tips .article .nav {
  background: #e77a69;
  height: 600px;
  border-radius: 20px 0 0 20px;
  padding-right: 0px !important;
}
/* line 606, ../sass/screen.scss */
#tips .article .nav .content-group {
  margin-top: 60px;
  margin-left: 25px;
}
/* line 610, ../sass/screen.scss */
#tips .article .nav .content-group .item {
  margin-bottom: 40px;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 600, ../sass/screen.scss */
  #tips .article .nav {
    display: none;
  }
}
/* line 621, ../sass/screen.scss */
#tips .article .main-article {
  height: 600px;
  overflow-y: scroll;
}
/* line 625, ../sass/screen.scss */
#tips .article .main-article .article-title {
  margin-top: 8px;
  margin-bottom: -10px;
  font-size: 18px;
  font-weight: 700;
}
/* line 631, ../sass/screen.scss */
#tips .article .main-article .article-title .author {
  font-size: 12px;
}
/* line 636, ../sass/screen.scss */
#tips .article .main-article .content-pics {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* line 641, ../sass/screen.scss */
#tips .article .main-article .article-content {
  font-size: 14px;
  line-height: 150%;
}
/* line 645, ../sass/screen.scss */
#tips .article .main-article .article-content .pic {
  padding: 0;
}
/* line 649, ../sass/screen.scss */
#tips .article .main-article .article-content .article-img {
  width: 100%;
}

/* line 658, ../sass/screen.scss */
#contact {
  font-family: "Lato";
}
/* line 661, ../sass/screen.scss */
#contact .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 665, ../sass/screen.scss */
#contact .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}
/* line 671, ../sass/screen.scss */
#contact .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 677, ../sass/screen.scss */
#contact .form {
  width: calc(100% + 30px);
  margin-left: -15px !important;
  margin-right: 0px !important;
  background: #FFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 685, ../sass/screen.scss */
#contact .form .instruction {
  font-weight: 100;
  margin-bottom: 32px;
}
/* line 692, ../sass/screen.scss */
#contact .form .form-group .form-control {
  border: 1px solid #bdc3c7;
}
/* line 694, ../sass/screen.scss */
#contact .form .form-group .form-control:focus {
  border: 1px solid #1ABC9C;
}
/* line 700, ../sass/screen.scss */
#contact .form textarea {
  height: 166px;
  resize: none;
}
/* line 705, ../sass/screen.scss */
#contact .form .submit {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 708, ../sass/screen.scss */
#contact .form .submit hr {
  border: 1px solid #BEBEBE;
  border-bottom: 0;
}
@media screen and (min-width: 768px) {
  /* line 714, ../sass/screen.scss */
  #contact .form .submit input[type=submit] {
    width: 100px;
    float: right;
  }
}
/* line 724, ../sass/screen.scss */
#contact .contact-info {
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 730, ../sass/screen.scss */
#contact .contact-info .contact-address .heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 40px;
}
/* line 737, ../sass/screen.scss */
#contact .contact-info .contact-address .address {
  font-size: 12px;
  line-height: 150%;
}
/* line 743, ../sass/screen.scss */
#contact .contact-info .contact-map {
  padding: 0;
}
/* line 745, ../sass/screen.scss */
#contact .contact-info .contact-map .map-img {
  border-radius: 0 20px 20px 0;
  width: 100%;
  margin-bottom: -2px;
}
@media screen and (max-width: 768px) {
  /* line 745, ../sass/screen.scss */
  #contact .contact-info .contact-map .map-img {
    margin-top: 10px;
    border-radius: 0 0 20px 20px;
  }
}
/* line 757, ../sass/screen.scss */
#contact .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 757, ../sass/screen.scss */
  #contact .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 763, ../sass/screen.scss */
#footer {
  font-family: "Lato";
  background: #363636;
  height: 50px;
  text-align: center;
  color: #FFF;
  top: 50px;
  position: relative;
  padding-top: 15px;
}
