/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: CenturyGothic;
  src: url(../font/CenturyGothic.ttf);
}
/* line 65, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 73, ../sass/screen.scss */
body {
  background: #eef2e7;
  overflow-x: hidden !important;
}

/* line 78, ../sass/screen.scss */
section {
  margin-bottom: 70px;
}

/* line 83, ../sass/screen.scss */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  width: 100%;
  background: #eef2e7;
  z-index: 20;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  box-shadow: 0px 2px 30px #666666;
  -moz-box-shadow: 0px 2px 30px #666666;
  -webkit-box-sizing: 0px 2px 30px #666666;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
/* line 102, ../sass/screen.scss */
.navbar #navbar > ul {
  list-style-type: none;
  margin: 0;
  float: right;
}
/* line 111, ../sass/screen.scss */
.navbar #navbar > ul > li {
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  display: inline;
  color: #505050;
  margin: 0 5px;
}
/* line 119, ../sass/screen.scss */
.navbar #navbar > ul > li:hover {
  color: #000000;
}
/* line 123, ../sass/screen.scss */
.navbar #navbar > ul > li > a {
  margin: 0;
  text-decoration: none;
  color: #AAA;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
/* line 129, ../sass/screen.scss */
.navbar #navbar > ul > li > a:hover {
  color: #333;
}
/* line 136, ../sass/screen.scss */
.navbar #logo {
  float: left;
  margin-left: -10px;
  margin-top: -21px;
  width: 120px;
  height: 120px;
}
@media screen and (max-width: 768px) {
  /* line 136, ../sass/screen.scss */
  .navbar #logo {
    display: none;
  }
}
/* line 147, ../sass/screen.scss */
.navbar #toggle {
  margin-top: 5px;
}
/* line 151, ../sass/screen.scss */
.navbar #ibeauty {
  display: none;
  font-family: "Lato";
  font-weight: 700;
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  /* line 151, ../sass/screen.scss */
  .navbar #ibeauty {
    display: inherit;
  }
}

/* line 167, ../sass/screen.scss */
#homepage a {
  color: #AAA;
}
/* line 170, ../sass/screen.scss */
#homepage a:hover {
  color: #000;
}
/* line 175, ../sass/screen.scss */
#homepage #homepage-background {
  z-index: -1;
  overflow: hidden;
}
/* line 180, ../sass/screen.scss */
#homepage .homepage-info {
  top: 20vh;
  width: 80%;
  margin-left: 10%;
  position: absolute;
}
/* line 186, ../sass/screen.scss */
#homepage .homepage-info .title {
  font-size: 18px;
  padding-top: 25px;
}
/* line 191, ../sass/screen.scss */
#homepage .homepage-info .col-sm-offset-7 {
  margin-left: calc(100% - 320px);
}
@media screen and (max-width: 768px) {
  /* line 196, ../sass/screen.scss */
  #homepage .homepage-info .col-sm-offset-7 {
    margin-left: calc((100% - 320px) / 2);
  }
}
/* line 201, ../sass/screen.scss */
#homepage .homepage-info .content {
  font-size: 14px;
  width: 80%;
  margin-left: 10%;
  font-weight: 100;
  text-align: left;
  line-height: 160%;
  padding-bottom: 25px;
}
/* line 210, ../sass/screen.scss */
#homepage .homepage-info .content strong {
  font-weight: 700 !important;
}
/* line 216, ../sass/screen.scss */
#homepage .homepage-buttons {
  top: 60vh;
  text-align: right;
  right: 40px;
  width: 520px;
}
/* line 223, ../sass/screen.scss */
#homepage .homepage-button {
  font-family: "Lato";
  font-weight: bold;
  font-size: 20px;
  font-color: #CCCCCC;
  width: 320px;
  background: #eef2e7;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 10px;
  height: 70px;
}
@media screen and (max-width: 768px) {
  /* line 223, ../sass/screen.scss */
  #homepage .homepage-button {
    width: inherit;
    max-width: 320px;
  }
}
/* line 242, ../sass/screen.scss */
#homepage .homepage-button .fa {
  font-size: 25px;
}
/* line 246, ../sass/screen.scss */
#homepage .homepage-button > div {
  padding-top: 19px;
}
/* line 250, ../sass/screen.scss */
#homepage #homepage-intro {
  border-radius: 20px 20px 0 0;
  height: 100%;
}
/* line 255, ../sass/screen.scss */
#homepage #homepage-web {
  border-radius: 0 0 20px 20px;
}

/* line 263, ../sass/screen.scss */
#about {
  font-family: "Lato";
}
/* line 267, ../sass/screen.scss */
#about .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 271, ../sass/screen.scss */
#about .content {
  line-height: 190%;
}
/* line 275, ../sass/screen.scss */
#about .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 275, ../sass/screen.scss */
  #about .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 283, ../sass/screen.scss */
#app {
  font-family: "Lato";
}
/* line 286, ../sass/screen.scss */
#app .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 290, ../sass/screen.scss */
#app .intro {
  margin-top: 80px;
  margin-bottom: 60px;
  font-weight: 900;
  line-height: 150%;
}
/* line 297, ../sass/screen.scss */
#app .download {
  margin-top: 10px;
}
/* line 300, ../sass/screen.scss */
#app .download .download-pic {
  height: 67px;
}
/* line 304, ../sass/screen.scss */
#app .download #qr-code {
  float: right;
}
@media screen and (max-width: 768px) {
  /* line 309, ../sass/screen.scss */
  #app .download .download-pic {
    height: auto;
    width: 200px;
    margin-top: 5px;
  }
  /* line 315, ../sass/screen.scss */
  #app .download .pic {
    text-align: center;
  }
  /* line 319, ../sass/screen.scss */
  #app .download #qr-code {
    float: inherit;
  }
}
/* line 329, ../sass/screen.scss */
#app .demo-whole .demo-text .col-sm-4 {
  width: 26.6666666%;
  margin-left: 3.333333333%;
  margin-right: 3.333333333%;
}
/* line 336, ../sass/screen.scss */
#app .demo-whole .demo-title {
  font-size: 27px;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
/* line 345, ../sass/screen.scss */
#app .demo-whole .demo-content {
  text-align: center;
  font-weight: 200;
  line-height: 150%;
}
/* line 351, ../sass/screen.scss */
#app .demo-whole #sprite {
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 327, ../sass/screen.scss */
  #app .demo-whole {
    display: none;
  }
}
/* line 363, ../sass/screen.scss */
#app .demo-split .demo-text .col-sm-4 {
  width: 26.6666666%;
  margin-left: 3.333333333%;
  margin-right: 3.333333333%;
}
/* line 370, ../sass/screen.scss */
#app .demo-split .demo-title {
  font-size: 27px;
  font-weight: 700;
  margin-top: -80px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
/* line 379, ../sass/screen.scss */
#app .demo-split .demo-content {
  text-align: center;
  font-weight: 200;
  line-height: 150%;
  margin-bottom: 60px;
}
/* line 386, ../sass/screen.scss */
#app .demo-split #sprite-1, #app .demo-split #sprite-2, #app .demo-split #sprite-3 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 361, ../sass/screen.scss */
  #app .demo-split {
    display: none;
  }
}
/* line 395, ../sass/screen.scss */
#app .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 395, ../sass/screen.scss */
  #app .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 402, ../sass/screen.scss */
#partner {
  font-family: "Lato";
}
/* line 405, ../sass/screen.scss */
#partner .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 409, ../sass/screen.scss */
#partner .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 414, ../sass/screen.scss */
#partner .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 420, ../sass/screen.scss */
#partner .description {
  margin-bottom: 80px;
  font-weight: 100;
}
/* line 423, ../sass/screen.scss */
#partner .description strong {
  font-weight: 600;
}
/* line 428, ../sass/screen.scss */
#partner .form {
  width: 100%;
}
/* line 431, ../sass/screen.scss */
#partner .form .avatar .avatar-img {
  width: 100%;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 438, ../sass/screen.scss */
#partner .form .contact .instruction {
  font-weight: 100;
  margin-bottom: 32px;
}
/* line 443, ../sass/screen.scss */
#partner .form .contact .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 447, ../sass/screen.scss */
#partner .form .contact .form-group .form-control {
  border: 1px solid #bdc3c7;
}
/* line 449, ../sass/screen.scss */
#partner .form .contact .form-group .form-control:focus {
  border: 1px solid #1ABC9C;
}
/* line 457, ../sass/screen.scss */
#partner .intro {
  margin-top: 80px;
  font-weight: 900;
  line-height: 150%;
}
/* line 463, ../sass/screen.scss */
#partner .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 463, ../sass/screen.scss */
  #partner .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 470, ../sass/screen.scss */
#tips {
  font-family: "Lato";
}
/* line 473, ../sass/screen.scss */
#tips .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 477, ../sass/screen.scss */
#tips .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 482, ../sass/screen.scss */
#tips .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 488, ../sass/screen.scss */
#tips .description {
  margin-bottom: 80px;
  font-weight: 100;
}
/* line 491, ../sass/screen.scss */
#tips .description strong {
  font-weight: 600;
}
/* line 496, ../sass/screen.scss */
#tips .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 496, ../sass/screen.scss */
  #tips .container {
    width: 80%;
    margin-left: 10%;
  }
}
/* line 500, ../sass/screen.scss */
#tips .article {
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
  background: #FFF;
  border-radius: 20px;
  height: 600px;
  padding-right: 15px;
}
/* line 509, ../sass/screen.scss */
#tips .article .nav {
  background: #e77a69;
  height: 600px;
  border-radius: 20px 0 0 20px;
  padding-right: 0px !important;
}
/* line 515, ../sass/screen.scss */
#tips .article .nav .content-group {
  margin-top: 60px;
  margin-left: 25px;
}
/* line 519, ../sass/screen.scss */
#tips .article .nav .content-group .item {
  margin-bottom: 40px;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 509, ../sass/screen.scss */
  #tips .article .nav {
    display: none;
  }
}
/* line 530, ../sass/screen.scss */
#tips .article .main-article {
  height: 600px;
  overflow-y: scroll;
}
/* line 534, ../sass/screen.scss */
#tips .article .main-article .article-title {
  margin-top: 8px;
  margin-bottom: -10px;
  font-size: 18px;
  font-weight: 700;
}
/* line 540, ../sass/screen.scss */
#tips .article .main-article .article-title .author {
  font-size: 12px;
}
/* line 545, ../sass/screen.scss */
#tips .article .main-article .content-pics {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* line 550, ../sass/screen.scss */
#tips .article .main-article .article-content {
  font-size: 14px;
  line-height: 150%;
}
/* line 554, ../sass/screen.scss */
#tips .article .main-article .article-content .pic {
  padding: 0;
}
/* line 558, ../sass/screen.scss */
#tips .article .main-article .article-content .article-img {
  width: 100%;
}

/* line 567, ../sass/screen.scss */
#contact {
  font-family: "Lato";
}
/* line 570, ../sass/screen.scss */
#contact .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* line 574, ../sass/screen.scss */
#contact .subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}
/* line 580, ../sass/screen.scss */
#contact .subtitle #free {
  font-size: 30px;
  color: #e97a69;
}
/* line 586, ../sass/screen.scss */
#contact .form {
  width: calc(100% + 30px);
  margin-left: -15px !important;
  margin-right: 0px !important;
  background: #FFF;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 594, ../sass/screen.scss */
#contact .form .instruction {
  font-weight: 100;
  margin-bottom: 32px;
}
/* line 601, ../sass/screen.scss */
#contact .form .form-group .form-control {
  border: 1px solid #bdc3c7;
}
/* line 603, ../sass/screen.scss */
#contact .form .form-group .form-control:focus {
  border: 1px solid #1ABC9C;
}
/* line 609, ../sass/screen.scss */
#contact .form textarea {
  height: 166px;
  resize: none;
}
/* line 614, ../sass/screen.scss */
#contact .form .submit {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 617, ../sass/screen.scss */
#contact .form .submit hr {
  border: 1px solid #BEBEBE;
  border-bottom: 0;
}
@media screen and (min-width: 768px) {
  /* line 623, ../sass/screen.scss */
  #contact .form .submit input[type=submit] {
    width: 100px;
    float: right;
  }
}
/* line 633, ../sass/screen.scss */
#contact .contact-info {
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0px 1px 10px #aaaaaa;
  -moz-box-shadow: 0px 1px 10px #aaaaaa;
  -webkit-box-sizing: 0px 1px 10px #aaaaaa;
}
/* line 639, ../sass/screen.scss */
#contact .contact-info .contact-address .heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
}
/* line 646, ../sass/screen.scss */
#contact .contact-info .contact-address .address {
  font-size: 12px;
  line-height: 150%;
}
/* line 652, ../sass/screen.scss */
#contact .contact-info .contact-map {
  padding: 0;
}
/* line 654, ../sass/screen.scss */
#contact .contact-info .contact-map .map-img {
  border-radius: 0 20px 20px 0;
  width: 100%;
  margin-bottom: -2px;
}
@media screen and (max-width: 768px) {
  /* line 654, ../sass/screen.scss */
  #contact .contact-info .contact-map .map-img {
    margin-top: 10px;
    border-radius: 0 0 20px 20px;
  }
}
/* line 666, ../sass/screen.scss */
#contact .container {
  top: 40px;
  width: 711px;
  margin-left: calc((100% - 711px) / 2);
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 666, ../sass/screen.scss */
  #contact .container {
    width: 80%;
    margin-left: 10%;
  }
}

/* line 672, ../sass/screen.scss */
#footer {
  font-family: "Lato";
  background: #363636;
  height: 50px;
  text-align: center;
  color: #FFF;
  top: 50px;
  position: relative;
  padding-top: 15px;
}
