/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$mid-width: 768px;
$theme-color: rgb(238, 242, 231);
$main-font: 'Lato';

@font-face {
	font-family: CenturyGothic;
	src: url(../font/CenturyGothic.ttf);
}

@mixin box-sizing($box) {
	box-sizing: $box;
	-moz-box-sizing: $box;
	-webkit-box-sizing: $box;
}

@mixin box-shadow($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-sizing: $shadows;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	};
}


// navbar style
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	display: block;
	padding: 7px;
	width: 100%;
	height: 54px;
	background: $theme-color;
	z-index: 20;
	font: {
		weight: bold;
		size: 13px;
	}
	color: #000;
	@include box-shadow(0px 2px 30px #CCCCCC);
	@include box-sizing(border-box);
	@include transition(all 500ms ease-in-out);

	>ul {
		list-style-type: none;
		margin: 0;
		padding: 8px 0 0 0;
		float: right;

		@media screen and (max-width: $mid-width) {
			display: none;
		}

		>li {
			text-align: center;
			font-family: $main-font;
			font-size: 20px;
			display: inline;
			color: #505050;
			margin: 0 18px;

			&:hover {
				color: #000000;
			}

			>a {
				margin: 0;
				text-decoration: none;
				color: #AAA;
				@include transition(all 500ms ease-in-out);

				&:hover {
					color: #333;
				}
			}
		}
	}

	#logo {
		float: left;
		margin-left: -10px;
		margin-top: -29px;
		width: 120px;
		height: 120px;
		@media screen and (max-width: $mid-width) {
			display: none;
		}
	}

	#toggle {
		margin-top: 5px;
	}

	#ibeauty {
		display: none;
		font-family: $main-font;
		font-weight: 700;
		margin-top: -5px;
		@media screen and (max-width: $mid-width) {
			display: inherit;
		}
	}
}


// homepage style
#homepage {

	$radius : 20px;

	#homepage-background {
		z-index: -1;
	}

	.homepage-info {
		top: 20vh;
		width: 80%;
		margin-left: 10%;
		position: absolute;

		.title {
			font-size: 18px;
			padding-top: 25px;
		}

		.col-sm-offset-7 {
			margin-left: 55%;
		}

		@media screen and (max-width: 953px) {
			.col-sm-offset-7 {
				margin-left: calc(100% - 400px);
			}
		}

		@media screen and (max-width: $mid-width) {
			.col-sm-offset-7 {
				margin-left: 0%;
			}
		}

		.content {
			font-size: 14px;
			width: 80%;
			margin-left: 10%;
			font-weight: 100;
			text-align: left;
			line-height: 160%;
			padding-bottom: 25px;

			strong {
				font-weight: 700 !important;
			}
		}
	}

	.homepage-buttons {
		top: 60vh;
		text-align: right;
		right: 40px;
		width: 520px;		
	}

	.homepage-button {
		font: {
			family: $main-font;
			weight: bold;
			size: 20px;
			color: #CCCCCC;
		}
		width: 400px;
		background: $theme-color;
		opacity: 0.9;
		text-align: center;
		margin-bottom: 10px;
		height: 70px;

		@media screen and (max-width: $mid-width) {
			width: inherit;
		}

		.fa {
			font-size: 25px;
		}

		>div {
			padding-top: 25px;
		}
	}
	#homepage-intro {
		border-radius: $radius $radius 0 0;
		height: 100%;
	}

	#homepage-web {
		border-radius: 0 0 $radius $radius;
	}	
}

